<a href="https://colab.research.google.com/github/NecipOz/magnimind/blob/main/Data_Exploration_with_Python_Assignment2_Necip_Ozfidan.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### Second Assignment:
### Due: 7 March Monday

**Problem1**

You're putting together contact information for all the users of your website to ship them a small gift. You queried your database and got back a list of users, where each user is another list with up to two items: a string representing the user's name and their shipping zip code. Example data might look like:

[["Grae Drake", 98110], ["Bethany Kok"], ["Alex Nussbacher", 94101], ["Darrell Silver", 11201]]


Notice that one of the users above has a name but doesn't have a zip code.

Write a function user_contacts that takes a two-dimensional list like the one above and returns a dictionary with an item for each user where the key is the user's name and the value is the user's zip code. If your data doesn't include a zip code then the value should be None.

For example, using the input above, user_contacts would return this dictionary:

{
    "Grae Drake": 98110,
    "Bethany Kok": None,
    "Alex Nussbacher": 94101,
    "Darrell Silver": 11201,    
}

In [ ]:
def users_contacts(contactlist):
  dict_contact = {}
  for i in contactlist:
    if len(i) == 1:
      dict_contact[i[0]] = None
    else:
      dict_contact[i[0]] = i[1]
  return dict_contact

In [ ]:
contact1 = [["Grae Drake", 98110], ["Bethany Kok"], ["Alex Nussbacher", 94101], ["Darrell Silver", 11201]]

users_contacts(contact1)

{'Alex Nussbacher': 94101,
 'Bethany Kok': None,
 'Darrell Silver': 11201,
 'Grae Drake': 98110}

**Problem2**

You have a two-dimensional list in the following format:

data = [[2, 5], [3, 4], [8, 7]]

Each sub-list contains two items, and each item in the sub-lists is an integer.

Write a function process_data that processes each sub-list like so:

[2, 5] --> 2 - 5 --> -3
[3, 4] --> 3 - 4 --> -1
[8, 7] --> 8 - 7 --> 1

and then returns the product of all the processed sub-lists: -3 * -1 * 1 --> 3. 
For input, you can trust that neither the main list nor the sublists will be empty.

In [ ]:
def process_data(data):
  result = 1
  for i in data:
    result *= (i[0]-i[1])
  return result

In [ ]:
data = [[4, 5], [3, 4], [8, 7]]
process_data(data)

1

**Problem3**  
The following two lists contain student names and scores. 

names = ["David", "Michael", "John", "James", "Greg", "Mark", "William", "Richard", "Thomas", "Steven", 
          "Mary", "Susan", "Maria", "Karen", "Lisa", "Linda", "Donna", "Patricia", "Debra", "Eric"]

 scores = [99, 87, 78, 86, 68, 94, 76, 97, 56, 98, 76, 87, 79, 90, 73, 93, 82, 69, 97, 98]
 
By using the two lists above, print the names of students ranked in top-3 highest scores

In [ ]:
names = ["David", "Michael", "John", "James", "Greg", "Mark", "William", \
         "Richard", "Thomas", "Steven", "Mary", "Susan", "Maria", "Karen",\
         "Lisa", "Linda", "Donna", "Patricia", "Debra", "Eric"]
scores = [99, 87, 78, 86, 68, 94, 76, 97, 56, 98, 76, 87, 79, 90, 73, 93, 82, 69, 97, 98]
for i in range(3):
  index_max = scores.index(max(scores))
  print(f"{i+1}. {names[index_max]} --> score: {max(scores)}")
  scores.remove(max(scores))
  names.remove(names[index_max])

1. David --> score: 99
2. Steven --> score: 98
3. Eric --> score: 98

**Problem4**  
Write a code that asks the user to enter a word and then capitalizes every other letter of that word.  
So if the user enters rhinoceros, the program should print rHiNoCeRoS.

In [ ]:
word = input("Enter a word: ")
word_list = list(word)
for i in range(1,len(word),2):
  word_list[i] = word_list[i].upper()
print("".join(word_list))

Enter a word: rhinoceros
rHiNoCeRoS

**Problem5**  
Use names and scores lists given in problem 3 write the scores into **class_scores.txt** file, where each line of the file contains a one word username and a test score separated by spaces, like below:.
        
    David 99
    Michael 87
    John 78
    James 86
    Greg 68
    Mark 94
    William 76
    Richard 97
    ...


After that write code that scans through **class_scores.txt** file adds 5 points to each test score, and outputs the user-names and new test scores to a new file, **scores2.txt**.

In [58]:
# write the scores into class_scores.txt file

names = ["David", "Michael", "John", "James", "Greg", "Mark", "William", "Richard", "Thomas", "Steven", "Mary", "Susan", "Maria", "Karen", "Lisa", "Linda", "Donna", "Patricia", "Debra", "Eric"]

scores = [99, 87, 78, 86, 68, 94, 76, 97, 56, 98, 76, 87, 79, 90, 73, 93, 82, 69, 97, 98]

with open('class_scores.txt', 'w') as f:
    for i in range(len(scores)):
        f.write(names[i])
        f.write('  ')
        f.write(str(scores[i]))
        f.write('\n')
f.close()

In [59]:
# adds 5 points to each test score

lines = [line.strip().split() for line in open('class_scores.txt')]
for i in lines:
  i[1] = int(i[1])+5

In [60]:
# outputs the user-names and new test scores to a new file, scores2.txt.

with open('scores2.txt', 'w') as f2:
  for i in range(len(lines)):
    f2.write(lines[i][0])
    f2.write('  ')
    f2.write(str(lines[i][1]))
    f2.write('\n')

**Problem6**  
You are given a file called students.txt. A typical line in the file looks like: 
        
        walter melon melon@email.uni.edu 555-3141

There is a name, an email address, and a phone number, each separated by tabs. 
Write a program that reads through the file line-by-line, and for each line, capitalizes the first letter of the first and last name and adds the area code 301 to the phone number. 

Your program should write this to a new file called students2.txt. Here is what the first line of the new file should look like:
      
      Walter Melon        melon@email.uni.edu        301-555-3141

In [81]:
#read through the file line-by-line

with open("students.txt","r") as stu:
  stu_line = [stu_line.strip().split() for stu_line in stu]

#for each line, capitalizes the first letter of the first and last name 
#and adds the area code 301 to the phone number.

  for i in stu_line:
    i[0] = i[0].title()
    i[1] = i[1].title()
    i[3] = '301-'+i[3]
stu.close()

In [82]:
stu_line

[['Walter', 'Melon', 'melon@email.uni.edu', '301-555-3141'],
 ['David', 'Johnh', 'david@email.uni2.edu', '301-345-8768']]

In [83]:
# write new format to a new file called students2.txt

with open('students2.txt', 'w') as stu2:
  for i in range(len(stu_line)):
    for j in stu_line[i]:
      stu2.write(str(j))
      stu2.write('  ')
    stu2.write('\n')