<a href="https://colab.research.google.com/github/NecipOz/magnimind/blob/main/Data_Exploration_with_Python_Assignment3_Necip_Ozfidan.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from scipy import stats
from scipy import math

In [2]:
df = pd.read_csv("Euro 2012 stats TEAM.csv")

In [ ]:
df.columns = df.columns.str.replace("-"," ").str.replace(" ","_").str.lower()

### Problem 1

In [ ]:
# a)
print("Countries that has the maximum number of yellow cards:")
print(df[df.yellow_cards == min(df.yellow_cards)].team.values[0])
print(df[df.yellow_cards == min(df.yellow_cards)].team.values[1])
print()
print("Countries that has the maximum number of yellow cards:")
print(df[df.yellow_cards == max(df.yellow_cards)].team.values[0])

Countries that has the maximum number of yellow cards:
Denmark
Germany

Countries that has the maximum number of yellow cards:
Italy

In [ ]:
# b)
best_acc = df[df["shooting_accuracy"] == max(df["shooting_accuracy"])].team.values[0]
print(f"The team that has the highest shooting accurancy is {best_acc}.")

The team that has the highest shooting accurancy is Spain.

In [ ]:
#########################

In [ ]:
df = pd.read_csv("AutoSurvey.csv")

In [ ]:
df.sample(5)

    Gender       Type Purchased  Vehicle_Age  Mileage   MPG
3   Female  Large SUV      Used        14.00   185397  15.2
7     Male      Small       New        11.00   165353  42.0
1   Female   Mid-size       New         1.00    23970  43.4
13  Female   Mid-size       New         0.25     3454  28.3
19  Female  Small SUV       New         4.00    29823  24.9

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 23 entries, 0 to 22
Data columns (total 6 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Gender       23 non-null     object
 1   Type         23 non-null     object
 2   Purchased    23 non-null     object
 3   Vehicle_Age  23 non-null     float64
 4   Mileage      23 non-null     int64
 5   MPG          23 non-null     float64
dtypes: float64(2), int64(1), object(3)
memory usage: 1.2+ KB

## Problem 2

In [ ]:
# a)
pd.pivot_table(df, values='Mileage', index="Type",
                    columns="Purchased", aggfunc=np.mean)

Purchased            New      Used
Type
Large SUV  130905.000000  185397.0
Mid-size    11424.333333  106810.0
Minivan    180643.000000  182584.0
Small       80405.833333  131022.4
Small SUV   29823.000000  113121.0

In [ ]:
# b)
df.groupby("Type")[["Vehicle_Age"]].max()-df.groupby("Type")[["Vehicle_Age"]].min()

           Vehicle_Age
Type
Large SUV         7.00
Mid-size         14.75
Minivan           5.00
Small            11.00
Small SUV        10.00